interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.track.toggl.com/api/v9/me/time_entries?start_date=2024-02-03T00%3A00%3A00Z&end_date=2024-02-05T00%3A00%3A00Z
  response:
    body:
      string: '[{"id":3308887448,"workspace_id":1815018,"project_id":178435728,"task_id":null,"billable":false,"start":"2024-02-04T23:00:00+00:00","stop":"2024-02-05T01:09:46+00:00","duration":7786,"description":"How
        to performance test the aws-s3 input in SQS mode","tags":["type:support/problem"],"tag_ids":[14953621],"duronly":true,"at":"2024-02-05T01:09:47+00:00","server_deleted_at":null,"user_id":2621333,"uid":2621333,"wid":1815018,"pid":178435728,"permissions":null},{"id":3308835167,"workspace_id":1815018,"project_id":178435728,"task_id":null,"billable":false,"start":"2024-02-04T21:42:16+00:00","stop":"2024-02-04T22:59:59+00:00","duration":4663,"description":"How
        to performance test the aws-s3 input in SQS mode","tags":["type:support/problem"],"tag_ids":[14953621],"duronly":true,"at":"2024-02-04T23:35:55+00:00","server_deleted_at":null,"user_id":2621333,"uid":2621333,"wid":1815018,"pid":178435728,"permissions":null},{"id":3308734784,"workspace_id":1815018,"project_id":178435728,"task_id":null,"billable":false,"start":"2024-02-04T17:29:21+00:00","stop":"2024-02-04T19:35:35+00:00","duration":7574,"description":"How
        to performance test the aws-s3 input in SQS mode","tags":["type:support/problem"],"tag_ids":[14953621],"duronly":true,"at":"2024-02-04T19:35:35+00:00","server_deleted_at":null,"user_id":2621333,"uid":2621333,"wid":1815018,"pid":178435728,"permissions":null},{"id":3308368569,"workspace_id":1815018,"project_id":95029662,"task_id":null,"billable":false,"start":"2024-02-03T18:07:12+00:00","stop":"2024-02-03T19:50:20+00:00","duration":6188,"description":"Learn
        Concurrent Programming with Go","tags":[],"tag_ids":[],"duronly":true,"at":"2024-02-03T19:50:21+00:00","server_deleted_at":null,"user_id":2621333,"uid":2621333,"wid":1815018,"pid":95029662,"permissions":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-f666f86df-kw6z2
      X-Service-Level:
      - GREEN
      X-Toggl-Request-Id:
      - 66de3007-9210-4699-9cba-3892d39a1b73
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
