interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.track.toggl.com/api/v9/me/time_entries?start_date=2024-02-26T00%3A00%3A00Z&end_date=2024-02-27T00%3A00%3A00Z
  response:
    body:
      string: '[{"id":3338599469,"workspace_id":1815018,"project_id":28041930,"task_id":null,"billable":false,"start":"2024-02-26T10:03:12+00:00","stop":"2024-02-26T12:07:38+00:00","duration":7466,"description":"Ristrutturazione","tags":[],"tag_ids":[],"duronly":true,"at":"2024-02-26T12:07:39+00:00","server_deleted_at":null,"user_id":2621333,"uid":2621333,"wid":1815018,"pid":28041930,"permissions":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-f666f86df-ng2v4
      X-Service-Level:
      - GREEN
      X-Toggl-Request-Id:
      - 920abb6c-acb0-4178-9551-ec71751ac95c
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
