interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.track.toggl.com/api/v9/me/time_entries?start_date=2024-01-27T00%3A00%3A00Z&end_date=2024-01-29T00%3A00%3A00Z
  response:
    body:
      string: "[{\"id\":3298594858,\"workspace_id\":1815018,\"project_id\":95029662,\"task_id\":null,\"billable\":false,\"start\":\"2024-01-28T21:59:26+00:00\",\"stop\":\"2024-01-29T00:26:53+00:00\",\"duration\":8847,\"description\":\"SDH
        (cli tool)\",\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2024-01-29T00:26:53+00:00\",\"server_deleted_at\":null,\"user_id\":2621333,\"uid\":2621333,\"wid\":1815018,\"pid\":95029662,\"permissions\":null},{\"id\":3298443610,\"workspace_id\":1815018,\"project_id\":178435728,\"task_id\":null,\"billable\":false,\"start\":\"2024-01-28T15:28:53+00:00\",\"stop\":\"2024-01-28T17:40:57+00:00\",\"duration\":7924,\"description\":\"synthetics
        kt session #2\",\"tags\":[\"type:goal\"],\"tag_ids\":[12078063],\"duronly\":true,\"at\":\"2024-01-28T17:53:27+00:00\",\"server_deleted_at\":null,\"user_id\":2621333,\"uid\":2621333,\"wid\":1815018,\"pid\":178435728,\"permissions\":null},{\"id\":3298369493[...]
