interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.track.toggl.com/api/v9/me/time_entries?start_date=2024-01-26T00%3A00%3A00Z&end_date=2024-01-27T00%3A00%3A00Z
  response:
    body:
      string: "[{\"id\":3297435983,\"workspace_id\":1815018,\"project_id\":178435728,\"task_id\":null,\"billable\":false,\"start\":\"2024-01-26T17:26:31+00:00\",\"stop\":\"2024-01-26T18:00:35+00:00\",\"duration\":2044,\"description\":\"IHAC
        using AWS WAF integration and expresses concern about the throughput\",\"tags\":[\"type:support/question\"],\"tag_ids\":[14969753],\"duronly\":true,\"at\":\"2024-01-28T08:39:01+00:00\",\"server_deleted_at\":null,\"user_id\":2621333,\"uid\":2621333,\"wid\":1815018,\"pid\":178435728,\"permissions\":null},{\"id\":3297355840,\"workspace_id\":1815018,\"project_id\":28041930,\"task_id\":null,\"billable\":false,\"start\":\"2024-01-26T16:34:40+00:00\",\"stop\":\"2024-01-26T17:26:32+00:00\",\"duration\":3112,\"description\":\"\U0001F68C
        Shuttling kids between home and whatever\",\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2024-01-26T17:26:32+00:00\",\"server_deleted_at\":null,\"user_id\":2621333,\"uid\":2621333,\"wid\":1815018,\"pid\":28041930,\"permissions\":null},{\"id\":329716[...]
